@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#006867, #00021a);
    overflow-x: auto;
}

header { 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover, header ul li a.active {
    background: #fff;
    color: #006867;

}

section {
    top: 50;
    width: 100%;
    height: 75vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before { 
    content: '';
    position: absolute;
    top: 590px;
    bottom: 0;
    width: 100%;
    height: 255px;
    background: linear-gradient(to top, #00021a, transparent);
    z-index: 1000;
}

section img#stars{
    position: absolute;
    left: 0;
    top: 70px;
    width: 200%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

section img#fish_school {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

section img#diver { 
    position: absolute;
    left: 100;
    top: 170px;
    width: 20%;
    height: 20%;
    object-fit: cover;
    z-index: 2;
}

.titlepage h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100px;
    left: 540px;
    color: #fff;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 2;

}

.titlepage h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 330px;
    left: 400px;
    color: #fff;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 22;
}

.titlepage p { 
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
    top: 5;
    left: 0;
    color: #fff;
    font-size: 1.3em;
    z-index: 12;
}

.titlepage

#btn {
    position: absolute;
    display: flex;
    top: 200px;
    left: 600px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 20;
}

.sec {
    position: relative;
    top: 170px;
    padding: 100px;
    background: #00021a;
    z-index: 1000;
    
}

.sec h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5em;
    color: #fff;
    margin: 30 0 30 0;
}

.sec h3{ 
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #b9f5dc;
    font-weight: 150;
    margin: 30 0 30 0;
}

.sec p { 
    font-size: 1em;
    color: #fff;
    margin: 30 0 30 0;
}

.intro { 
    text-align: center; 
    color: #fff;
    margin: 30 0 30 0;
}

.sec #quote {
    left: 50px;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

.sec #btn {
        position: absolute;
        display: flex;
        left: 600px;
        text-decoration: none;
        display: inline-block;
        padding: 8px 30px;
        border-radius: 40px;
        background: #fff;
        color: #2b1055;
        font-size: 1em;
        z-index: 20;
    }

a {
    padding: 0.5em 1em;
    font-size: 0.8em;
    color: #a9b1b3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 1px solid #a9b1b3;
    transition: all 0.3s ease-in;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #0ccce51d;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
        /* Existing styles */
    position: relative;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    color: #000000;
    transition: 0.4s;
    /* margin-bottom: 30px; */
    margin-top: 40px;
  }

  .accordion__header {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 16px;
    position: relative;
  }
  
  .accordion__toggle::before {
    content: '+';
    display: inline-block;
    color: black;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .accordion__item--expanded .accordion__toggle::before {
    content: '-';
  }
  
  .accordion__title {
    /* Take remaining width */
    flex: 1;
  }
  
  .accordion__content {
    border-top: 1px solid #d1d5db;
    padding: 16px;
  }
  
  .accordion__item--collapsed .accordion__content {
    display: none;
  }
  
  .accordion__item--expanded .accordion__content {
    display: block;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #b2d0d4;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: rgb(3, 1, 34);
    display: none;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 4px;
      }

  .accordion__button:before {
    content: '+';
    display: inline-block;
    color: black;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .active:before {
    content: '-';
  }
  

  h4 { 
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 150;
    margin: 30 0 30 0;
  }

  #so_what { 
    margin-left: 40px;
  }

  #suds { 
    margin-top: 40px;
  }

  .sec {
    position: relative;
    top: 20px;
    padding: 50px;
    background: #00021a;
    z-index: 1000;
}

.sec h2 {
    font-size: 2.5em;
    color: #fff;
}

.sec p { 
    font-size: 1em;
    color: #fff;
}

.column {
    float: none;
    display: inline-flex;
    border: none;
}
  
.about-section {
    color: white;
}
  
.containers {
    padding:0 10px 0 10px;
}

.card {
    display: flex;
    width: 200px;
    top: 30px;
    right: 50px;
    border-radius: 50px;
    box-shadow: -1rem 0 3rem #000;
    background-color: white;
    transition: 0.4s ease-out;
    position: relative;
    margin-bottom: 70px;
    margin-top: 30px; /* Add margin-top */
    margin-right: 140px;
    z-index: 100;
  }

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.containers row::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.row {
    display: flex;
    justify-content: space-between;
}

.container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
}

  .cards {
    display: flex;
    width: 400px;
    border-radius: 5px;
    box-shadow: -1rem 0 3rem #000;
    background-color: gray ;
    transition: 0.4s ease-out;
    position: relative;
    top: 360px;
    left: 0px;
    z-index: 100;
  }
  
  .cards:not(:first-child) {
      margin-left: -50px;
  }
  
  .cards:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .cards:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: rgb(255, 255, 255);
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: gray;
    stroke-width: 2px;
  }
  
  .cards:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  a {
    padding: 0.5em 1em;
    font-size: 0.8em;
    color: #a9b1b3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 1px solid #a9b1b3;
    transition: all 0.3s ease-in;
}

.container3 {
    display: flex;
    margin-top: 20px;
  }
  
  .container3 img {
    width: 500px;
    height: auto;
    margin-left: 120px;
  }

.container4 {
    display: flex;
    margin-top: 20px;
  }

    .container4 img { 
        width: 500px;
        height: auto;
        margin-left: 35px;
    }

  
h5{ 
    font-size: 1.3em;
    font-weight: 100;
    color: #fff;
}

#so_what {
    font-size: 17px;
}

.img-with-text {
    text-align: justify;
    width: 500px ;
}

.img-with-text img {
    width: 500px;
    height: auto;
    margin-left: 25px;
}

h6 {
    font-size: 1em;
    font-weight: 0;
    color: #fff;
}
