@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#006867, #00021a);
    overflow-x: hidden;
}

header { 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover, header ul li a.active {
    background: #fff;
    color: #006867;

}

section {
    top: 50;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::after { 
    content: '';
    position: absolute;
    top: 40vh;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #00021a, transparent);
    z-index: 1000;
}

section img#stars{
    position: absolute;
    left: 0;
    top: 70px;
    width: 200%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

section img#fish_school {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

section img#diver { 
    position: absolute;
    align-items: center;
    display: flex;
    width: 20%;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

.aboutpage h2 {
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
  white-space: nowrap;
  font-size: 4vw;
  z-index: 22;
}

.aboutpage p { 
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 100px;
    top: 10;
    left: 0;
    color: #fff;
    font-size: 1em;
    z-index: 100;
}

.aboutpage
#btn {
    position: absolute;
    display: flex;
    left: 37vw; 
    top: 20vh;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 20;
}

.sec {
    position: relative;
    top: 170px;
    padding: 100px;
    background: #00021a;
    z-index: 1000;
}

.sec h2 {
    font-size: 1.5em;
    color: #fff;
}

.sec p { 
    font-size: 1em;
    color: #fff;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .about-section {
    color: white;
  }
  
  .container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }


/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('../Static/Fish.png');
	width: 435px;
	height: 204px;
	left: 0px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  z-index: 6;
}

#fish{
	top: 120px;
}

  a {
    padding: 0.5em 1em;
    font-size: 0.8em;
    color: #a9b1b3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 1px solid #a9b1b3;
    transition: all 0.3s ease-in;
}

.card img {
  justify-content: center;
}
