@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#006867, #00021a);
    overflow-x: hidden;
    overflow-y: hidden;
}

header { 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover, header ul li a.active {
    background: #fff;
    color: #006867;

}

section img#stars{
    position: absolute;
    left: 0;
    top: 70px;
    width: 200%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}


.contactpage h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100px;
    left: 550px;
    color: #fff;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 2
}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('../Static/Fish.png');
	width: 435px;
	height: 204px;
	margin-left: -435px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


a {
    padding: 0.5em 1em;
    font-size: 0.8em;
    color: #a9b1b3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 1px solid #a9b1b3;
    transition: all 0.3s ease-in;
}